/01 Conceitos de Internet Das Coisas.pdf
/02 Plataformas de Middleware e Protocolos de Comunicação Para Iot.pdf
/03 Desenvolvimento de Aplicações Usando Plataformas de Middleware Para Iot em Python.pdf
/04 Rincípios e Tecnologias da Indústria 4.0.pdf
/05  Integração Com Sistemas de Cloud Para Iot.pdf